/* This is CSS Document */
body {
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Monaco', cursive;
}

/** HEADER **/
#header-nav {
  background-color: #818589;
  border-radius: 0;
  border-bottom: 3px solid black;
}

.navbar-brand {
  padding-top: 30px;
}

.navbar-header{
  border-bottom: 3xp solid black;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Monaco', cursive;
  color: #000000;
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}

#nav-list {
  background: #FFFFFF;
}
#nav-list a {
  color: #000000;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #D3D3D3;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: initial;
}
/* END HEADER */


/* HOME PAGE */
#title{
  color: black;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

#content {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  overflow: auto;
  color: black;
  text-align: left;
  background-color: #818589;

}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

